.root {
    -fx-background-image: url("img/default.jpg");
    -fx-background-size: cover;
    -fx-background-color: #233; /* Default color */
}
.root.clear {
	-fx-background-image: url("img/clear.jpg");
}
.root.rain {

}